:root{
    --black:  #17202A;
    --dark-blue:  #0e1630;
    --blue: #808dad;
    --salmon: #eb4a4a;
    --grey-bg: #dfe6e9;
    --white: #fff;
}
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display:none;
}

body{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    background: var(--dark-blue);
    color: var(--black);
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}

header{
    background: var(--dark-blue);
    color: var(--white);
    position: fixed;
    width: 100%;
}

ul{
    margin:0;
    padding: 20px;
}

a{
    text-decoration: none;
}
.navigation-items{
    display: flex;
    justify-content: space-around;
}
.navigation-items a{
    color: var(--white);
}
.navigation-items a:visited{
    color: var(--white);
}
.navigation-items a:hover{
    color: var(--salmon);
    text-decoration: underline;
}
li{
    list-style: none;
    font-size: 20px;
}

section{
    height: 100vh;
}



.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 24px;
    color: var(--white);
}


.hero-image{
    display: flex;
    align-items: center;
}
.hero-image img{
    border-bottom-left-radius: 20px;
}
.hero-text{
    width: 35%;
}

.proyects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-blue);
    color: var(--white);
}



.skills{
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

.skills h2{
    align-self: center;
}

.skills-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.videos{
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.videos-container{
    display: flex;
    justify-content: space-around;
}

.videos a{
    margin: 32px 0;
    align-self:center;
    padding: 8px 40px;
    background: var(--grey-bg);
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    color: var(--black);
}
.videos a:hover{
    background-color: var(--blue);
    color: var(--white);
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.icons-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.contact i{
    font-size: 36px;
    color: var(--white);
}
.icons-container i:hover{
    color: var(--salmon);
}
.icons-container a:visited{
    color: var(--white);
}
