@font-face {
  font-family: 'icons-web';
  src:
    url('fonts/icons-web.ttf?stvsdw') format('truetype'),
    url('fonts/icons-web.woff?stvsdw') format('woff'),
    url('fonts/icons-web.svg?stvsdw#icons-web') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-web' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e907";
}
.icon-cog:before {
  content: "\e994";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
